* {
  padding: 0;
  margin: 0;
}
.container {
  height: 100vh;
  width: 100%;
  background-image: url("wallpaperflare.com_wallpaper3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.header {
  text-align: center;
  background-color: black;
  height: 65px;
}
.nav {
  padding-top: 25px;
  float: right;
  margin-right: 80px;
}
.nav i {
  font-size: 20px;
}
.navbar {
  float: left;
  padding-left: 30px;
}
a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  padding-left: 40px;
  color: white;
  margin-right: 40px;
  padding-bottom: 10px;
}
.img1 {
  height: 35px;
  width: 80px;
  padding-top: 10px;
  padding-right: 10px;
}
.img2 {
  height: 100vh;
  width: 100%;
}
.img3 {
  height: 22px;
  width: 25px;
  background-color: black;
  margin-top: 3px;
  border-radius: 10px;
}
a {
  margin-left: 3px;
}
.aside {
  height: 200px;
  width: 400px;
  color: white;
  margin-top: 80px;
}
p {
  font-size: 20px;
}
.inside1 {
  display: flex;
}
.inside2 {
  font-family: "Times New Roman", Times, serif;
}
.btn {
  display: flex;
}
.btn3 a {
  padding-left: 10px;
}
button {
  padding: 10px;
  background-color: black;
  color: white;
  border: 1px solid black;
}
.btn3 {
  margin-top: 10px;
  cursor: pointer;
  height: 40px;
  margin-right: 10px;
}
.btn4 {
  margin-top: 10px;
  height: 30px;
  cursor: pointer;
}
.below {
  padding-top: 3%;
  margin-top: 22px;
  height: 240px;
}
img {
  height: 186px;
  width: 186px;
}
.photo {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transform0.5s, background 0.5s;
  height: 186px;
  width: 186px;
  flex: 1;
  border: 1px solid black;
  text-decoration: none;
  margin-right: 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.photo:hover {
  transform: scale(1.2);
}

.h1 {
  font-size: 25px;
  float: left;
  color: white;
}
#h1 {
  font-size: 40px;
}
.h5 {
  display: flex;
  margin-top: 25px;
}

.footer {
  height: 95px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.p {
  text-align: center;
  color: white;
  padding-top: 10px;
}
.icons {
  padding-top: 10px;
  margin-left: 623px;
}
.icons a {
  padding: 0;
}
